extends ../../layouts/master

append styles
  link(href='/vendor/three.css', rel='stylesheet')

block header
  include ../../includes/header

block content
  main(class='main {class}')
    h1= title
    p Welcome to #{title}
    = titles

append scripts
  script(src='/vendor/three.js')